<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<h2 style="margin-bottom: 0;">
  <%= @post.title %>
</h2>

<small>
  By: <%= @user.email %>
</small>

<br>
<br>

<%= @post.body %>
